
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  letter-spacing: -0.01em;
  background: linear-gradient(120deg, #181924 0%, #23243c 100%);
  color: #f8fafc;
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #22223a;
  border-radius: 3px;
}

*::selection {
  background: #4747f3;
  color: #fff;
}
